/* CONTAINER */
.container{
    background: linear-gradient(0deg, rgb(15, 134, 219) 0%, rgb(14, 59, 133) 50%, rgba(0, 0, 0, 1) 100%);
    width: 100%;
    min-height: calc(100vh - 70px);
    float: left;
    padding: 30px 40px;
        color: #fff;
}
/* CONTAINER CENTRAL */
.painel-motorista{
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}

/* TEXTO */
.intro h1{
    font-size: 32px;
    color: #fff;
    margin-bottom: 10px;
}

.intro p{
    color: #94a3b8;
    font-size: 15px;
    margin-bottom: 40px;
}

/* GRID */
.cards-motorista{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
}

/* CARD BASE */
.card-motorista{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.08);
    border-radius: 16px;

    padding: 30px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s;
}

/* HOVER */
.card-motorista:hover{
    transform: translateY(-5px);
    border-color: #3b82f6;
}

/* TITULO */
.card-motorista h2{
    font-size: 16px;
    color: #94a3b8;
    font-weight: 500;
}

.card-motorista span{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0;
}

/* TEXTO */
.card-motorista p{
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 20px;
}

/* BOTÃO */
.card-motorista button{
    background: #3b82f6;
    border: none;
    padding: 12px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 500;
}

.card-motorista button:hover{
    background: #2563eb;
    transform: scale(1.03);
}
