<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <div class="logo">
        <div class="logo-icon">
          <img src="../assets/Logo_DataSwift.png" alt="DataSwift">
        </div>
      </div>

      <nav class="menu">
        <!-- DASHBOARD -->
        <div class="dropdown">
          <a href="#" class="active txt-menu">Dashboard</a>

          <div class="submenu">
            <a href="dashboard_financeiro.html">Dashboard Financeiro</a>
            <a href="../pages/dashboard_motorista.html">Dashboard Motorista</a>
          </div>
        </div>
        <!-- DASHBOARD -->
        <!-- DESPESAS -->
        <div class="dropdown">
          <a href="#" class="active">Despesas</a>
          <div class="submenu">
            <a href="#">Nova Despesa</a>
            <a href="#">Minhas Despesas</a>
            <a href="#">Histórico de Comprovantes</a>
            <a href="#">Anexos</a>
          </div>
        </div>
        <!-- DESPESAS -->
        <!-- FINANCEIRO -->
        <div class="dropdown">
          <a href="#" class="active">Financeiro</a>
          <div class="submenu">
            <a href="#">Fluxo de Caixa</a>
            <a href="#">Pagamentos</a>
            <a href="#">Relatórios</a>
          </div>
        </div>
        <!-- FINANCEIRO -->
        <!-- CADASTROS -->
        <div class="dropdown">
          <a href="#" class="active">Cadastros</a>
          <div class="submenu">
            <a href="#">Usuários</a>
            <a href="#">Categorias</a>
            <a href="#">Dados Bancários</a>
          </div>
        </div>
        <!-- CADASTROS -->
        <!-- ADMIN -->
        <div class="dropdown">
          <a href="#" class="active">Administração</a>
          <div class="submenu">
            <a href="#">Gestão de Usuários</a>
            <a href="#">Permissões</a>
            <a href="#">Configurações</a>
          </div>
        </div>
        <!-- ADMIN -->
      </nav>
      <div class="user">
        <span>Perfil</span>
        <div class="avatar"></div>
      </div>
    </header>
  </body>
</html>
